#main_system_metrics

- for one_type_network in @networks do
  %table.table.hidden{id: "network-table-orig-#{one_type_network.first.name}"}
    %tr
      %td= t("metrics.date")
      - for network in one_type_network do
        %td= l network.get_time, format: :date
    %tr
      %td= t("metrics.time")
      - for network in one_type_network do
        %td= l network.get_time, format: :time
    %tr
      %td= t("metrics.bytes_in")
      - for network in one_type_network do
        %td= number_to_human_size(network.bytes_in * 2 ** 10)
    %tr
      %td= t("metrics.bytes_out")
      - for network in one_type_network do
        %td= number_to_human_size(network.bytes_out * 2 ** 10)
