%table.hidden#metrics-orig
  %tr
    %td= t("metrics.date")
    - for metric in @metrics do
      %td= l metric[0], format: :date
  %tr
    %td= t("metrics.time")
    - for metric in @metrics do
      %td= l metric[0], format: :time
  %tr
    %td= t("metrics.cpu_average_minute")
    - for metric in @metrics do
      %td= SystemMetric.cpu_average_minute_in_percent(metric[1])
  %tr
    %td= t("metrics.memory_used") + " (доступно #{number_to_human_size(@main_metric.memory_size * 2 ** 20)})"
    - for metric in @metrics do
      %td= number_to_human_size(metric[2] * 2 ** 20)
  %tr
    %td= t("metrics.swap_used") + " (доступно #{number_to_human_size(@main_metric.swap_size * 2 ** 20)})"
    - for metric in @metrics do
      %td= number_to_human_size(metric[3] * 2 ** 20)
  %tr
    %td= t("metrics.descriptors_used") + " (максимум #{@main_metric.descriptors_max})"
    - for metric in @metrics do
      %td= metric[4]
