%h1 Listing main_hot_catch_logs

%table
  %thead
    %tr
      %th Log data
      %th Count log
      %th Id log origin app
      %th Name app
      %th From log
      %th
      %th
      %th

  %tbody
    - @main_hot_catch_logs.each do |main_hot_catch_log|
      %tr
        %td= main_hot_catch_log.log_data
        %td= main_hot_catch_log.count_log
        %td= main_hot_catch_log.id_log_origin_app
        %td= main_hot_catch_log.name_app
        %td= main_hot_catch_log.from_log
        %td= link_to 'Show', main_hot_catch_log
        %td= link_to 'Edit', edit_main_hot_catch_log_path(main_hot_catch_log)
        %td= link_to 'Destroy', main_hot_catch_log, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Main hot catch log', new_main_hot_catch_log_path
