%p#notice= notice

%p
  %b Log data:
  = @main_hot_catch_log.log_data
%p
  %b Count log:
  = @main_hot_catch_log.count_log
%p
  %b Id log origin app:
  = @main_hot_catch_log.id_log_origin_app
%p
  %b Name app:
  = @main_hot_catch_log.name_app
%p
  %b From log:
  = @main_hot_catch_log.from_log

= link_to 'Edit', edit_main_hot_catch_log_path(@main_hot_catch_log)
\|
= link_to 'Back', main_hot_catch_logs_path
